<html>
  <head>
    <title>Welcome Page</title>
    <style>
      body {
        background-color: whitesmoke;
        color: darkcyan;
        font-size: 30px;
      }
      .button {
        background-color: #4caf50; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
      }
    </style>
  </head>
  <body>
    <center><h1>SmartU</h1></center>

    <center>
        <div>
            <a href="login/" class="button">Login</a>
            <a href="signup/" class="button">Signup</a>
            <a href="contactus/" class="button">Contact US</a>
          </div>
    </center
  </body>
</html>
